@page
@using FindNest.Utilities
@model FindNest.Pages.Post.UserPost

@{
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<div>
    <table class="table table-striped align-middle rounded-3 overflow-hidden">
        <tr class="bg-danger text-white">
            <th></th>
            <th>Tiêu đề</th>
            <th>Khu vực</th>
            @* <th>Loại phòng</th> *@
            @* <th>Giá/Tháng</th> *@
            @* <th>Diện tích</th> *@
            <th>Ẩn</th>
            <th>Ngày đăng</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
        @foreach (var post in Model.RentPosts)
        {
            <tr>
                <td>
                    <input type="checkbox" name="@nameof(Model.DeleteIds)" form="deleteForm" class="form-check-input" value="@post.Id">
                </td>
                <td  >
                    <div class="text-truncate line-clamp text-wrap" style="max-width: 400px;">
                        <a asp-page="/Post/Details" asp-route-id="@post.Id">@post.Title</a> 
                    </div>
                </td>
                <td>
                    <div class="text-truncate line-clamp text-wrap" style="max-width: 300px;">
                        @post.RegionAddress
                    </div>
                </td>
                @* <td>@post.RentCategory?.Name</td> *@
                @* <td>@(post.IsNegotiatedPrice ? "Thỏa thuận" : Ultilities.FormatCurrency(post.Price))</td> *@
                @* <td>@(post.Area) m<sub>2</sub></td> *@
                <td>@(post.IsHidden? "Hiển thị":"Đã ẩn")</td>
                <td>@(post.CreatedAt.ToString("dd/MM/yyyy"))</td>
                <td>@(post.IsApproved)</td>
                <td>
                    <a asp-page="/Post/Update" asp-route-id="@post.Id" class="btn btn-dark text-white">Sửa</a>
                </td>
            </tr>
        }
    </table>
    <div>
        <button form="deleteForm" class="btn-danger btn">
            Xóa
        </button>
    </div>
    <form id="deleteForm" method="post" asp-page-handler="delete">
        <input type="hidden" asp-for="Params.CurrentPage">
    </form>
    <form method="get" id="paginationForm">
        <partial name="Shared/_PaginationPartial" model="Model.PaginationPm"/>
    </form>
</div>