@using FindNest.Areas.Identity.Pages.Account.Manage
@using FindNest.Constants
﻿@using FindNest.Areas.Identity.Pages.Account.Manage
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

    string navItemStyle = "nav-item";
    string navLinkStyle = "btn w-100 text-start";
    var currentUser = UserManager.GetUserAsync(User).Result;
    bool isAdmin = await UserManager.IsInRoleAsync(currentUser, RoleConst.Administrator);
}

<nav class="
@*          navbar navbar-expand-sm *@@*          navbar-toggleable-sm *@
        navbar-light  
        border rounded-3">
    <div class="container flex-column">
        <button class="navbar-toggler mx-auto"
                type="button" data-bs-toggle="collapse"
                data-bs-target=".target-sidebar"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (isAdmin)
        {
            <div class="target-sidebar navbar-collapse collapse d-sm-inline-flex  justify-content-between
                         my-bg-gray rounded-3  mt-2 w-100">
                <ul class="navbar-nav flex-column flex-grow-1">
                    <li class="nav-item">
                        <h5 class="fw-bold text-center pt-3">
                            Quản Trị
                        </h5>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="@navLinkStyle" asp-area="" asp-page="/Admin/Post/Index">Quản lý tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="@navLinkStyle" asp-area="" asp-page="/Admin/Post/Waiting">Tin chờ duyệt</a>
                    </li>
                    <li class="nav-item">
                        <a class="@navLinkStyle" asp-area="" asp-page="/Admin/UserManagement/Index">Quản lý người dùng</a>
                    </li>
                </ul>
            </div>
        }
        <div class="target-sidebar navbar-collapse collapse d-sm-inline-flex  justify-content-between
                         my-bg-gray rounded-3 w-100 mt-2">
            <ul class="navbar-nav flex-column flex-grow-1">
                <li class="nav-item">
                    <h5 class="fw-bold text-center pt-3">
                        Bài đăng
                    </h5>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.CreatePostClass(ViewContext)" asp-area="" asp-page="/Post/Create">Đăng tin</a>
                </li>
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.UserPostClass(ViewContext)" asp-area="" asp-page="/Post/UserPost">Quản lý tin đăng</a>
                </li>
            </ul>
        </div>

        <div class="target-sidebar navbar-collapse collapse d-sm-inline-flex  justify-content-between
                         my-bg-gray rounded-3 mt-2 w-100">
            <ul class="navbar-nav flex-column flex-grow-1">
                <li class="nav-item">
                    <h5 class="fw-bold text-center pt-3">
                        Quản lý tài khoản
                    </h5>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.IndexNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/Index">@Html.Raw("Thông tin cá nhân")</a>
                </li>
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.EmailNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a>
                </li>
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Đổi mật khẩu</a>
                </li>
                @if (hasExternalLogins)
                {
                    <li id="external-logins" class="nav-item">
                        <a id="external-login" class="@navLinkStyle @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">Đăng nhập với tài khoản liên kết</a>
                    </li>
                }
                @* <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
                <li class="nav-item">
                    <a class="@navLinkStyle @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/DeletePersonalData">Xóa tài khoản</a>
                </li>
            </ul>
        </div>
    </div>
</nav>