@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column bg-secondary bg-opacity-25 rounded-3 p-3 ">
    <li class="nav-item"><a class="btn w-100 text-start @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">@Html.Raw("Thông tin cá nhân")</a></li>
    <li class="nav-item"><a class="btn w-100 text-start @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="btn w-100 text-start @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Đổi mật khẩu</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="btn w-100 text-start @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Đăng nhập với tài khoản liên kết</a></li>
    }
    @* <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
    <li class="nav-item"><a class="btn w-100 text-start @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./DeletePersonalData">Xóa tài khoản</a></li>
</ul>
